
  <%= form_for (@record) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :desciption %>
    <%= f.text_area :content %>
    <%= f.label :category %>
    <div class="input-field">
    <%= f.select(:category_id, current_user.categories.all.map {|lc| [lc.title, lc.id]}, {prompt: 'Select Category'}) %>
    </div>
    <%= f.label :date %>
    <%= f.date_field :due_date %>

    <%= f.submit class: 'button radius'%>
  <% end %>
