<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <h5>All the categories</h5>
        <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">Mike Mikerson</span>
        </div>
      </div>
      <div class="callout primary">
        <div class="row column">
          <h1>All the records</h1>
          <p>Find me in app/views/records/index.html.erb</p>
          <% @records.each do |record| %>
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <div class="content">
                          <span class="card-title"><%= record.title %></span>
                          <p><%= record.content %></p>
                          <p><%= record.frequency %></p>
                          <p><%= record.due_date %></p>
                          <div class="card-action">
                            <%= link_to('View', record_path(record.id)) %>
                            <%= link_to('Delete', record_path(record.id)) %>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
        </div>
        <%= link_to('Add new record', new_record_path) %>
      </div>
    </div>
  </div>
</div>
