
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>EssentialApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
    <div data-alert class="alert-box success radius text-center">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>

    <% end %>
    <% if alert %>
    <div data-alert class="alert-box warning radius text-center">
      <%= alert %>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>
    <%= yield %>
    <hr>
    <%= render 'layouts/footer' %>

    <div class="row copyright">
      <%= render 'layouts/copyright' %>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
